body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #212121;
}

a {
    color: currentColor;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}