:root {
    --primery-text-color: #212121;
    --secendery-text-color: #757575;
    --accent-color: #2196F3;
    --white: #FFFFFF;
    --card-item-gap: 30px;
    --section-padding-gap: 94px;
    --title-margin-bottom: 50px;
    --header-items-gap: 50px;
    --portfolio-filter-btn-gap: 8px;
    --team-padding-gap: 30px;
    --project-padding: 20px;
    --project-padding-left: 24px;
    --footer-padding-gap: 60px;
}